{% extends 'responda_messages/base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
	{% if message.deleted %}
		<div class="panel panel-danger">
			<div class="panel-heading">
				Tämä viesti on poistettu.
			</div>
			<div class="panel-body message-text">
				Tämä viesti on vastaus alla lueteltuihin viesteihin. Joku näiden viestin kirjoittajista on poistanut tämän viestin.
			</div>
	{% endif %}
		{% with replies=message.parent_message.all %}
			{% include 'responda_messages/_large_message_linklist.html' %}
		{% endwith %}
	{% if message.deleted %}</div>{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="text-right" style="float:right;">{{ message.pub_date }}</p>
			<b>{{ message.author.first_name }} {{ message.author.last_name }}</b> &sdot; @{{ message.author.username }}
		</div>
		<div class="panel-body message-text">{{ msg_text|safe }}</div>
		{% include 'responda_messages/_large_message_linklist.html' %}
	</div>
	{% if user.is_authenticated %}
		<div class="btn-group" role="group" aria-label="...">
			<a class="btn btn-default" href="/messages/{{ message.id }}/select/" role="button">Valitse viesti</a>
			{% if deletable %}
				{% if not message.deleted %}
					<a class="btn btn-default" href="/messages/{{ message.id }}/delete/" role="button">Poista viesti</a>
				{% endif %}
			{% endif %}
		</div>
		
		<h2>Uusi vastaus</h2>
		<form action="/messages/{{ message.id }}/reply/" method="POST" class="post-form">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="save btn btn-default">Lähetä!</button>
		</form>
		<script>
		var simplemde = new SimpleMDE({
			element: document.getElementById("id_message_text"),
			forceSync: true,
			spellChecker: false
		});
		</script>
	{% endif %}
{% endblock %}

{% block leftcontent %}
	{% if user.is_authenticated %}
		<div class="panel panel-ablue">
			<div class="panel-heading">
				Uusimmat vastaukset
			</div>
			{% with replies=newest_replies %}
			{% include 'responda_messages/_small_message_linklist.html' %}
			{% endwith %}
		</div>
	{% else %}
		<div class="panel panel-ablue">
			<div class="panel-heading">
				Tervetuloa Respondaan
			</div>
			<div class="panel-body">
				Responda on uusi sosiaalisen median alusta, joka perustuu vuorovaikutukseen ja vastaamiseen.
			</div>
			<ul class="list-group">
				<a href="/login/" class="list-group-item">Kirjaudu sisään</a>
				<a href="/register/" class="list-group-item">Luo tunnus</a>
			</ul>
		</div>
	{% endif %}
{% endblock %}
{% block rightcontent %}
	{% if selected_messages %}
		<div class="panel panel-ablue">
			<div class="panel-heading">
				Valitut viestit
			</div>
			{% with replies=selected_messages %}
			{% include 'responda_messages/_small_message_linklist.html' %}
			{% endwith %}
		</div>
		<ul class="list-group">
			<a href="/selected/reply/" class="list-group-item">Vastaa valittuihin viesteihin</a>
			<a href="/selected/clear/?msg={{ message.id }}" class="list-group-item">Poista kaikki valinnat</a>
		</ul>
	{% else %}
		<div class="panel panel-ablue">
			<div class="panel-heading">
				Vastatuimmat viestit
			</div>
			{% with replies=popular_messages %}
			{% include 'responda_messages/_small_message_linklist.html' %}
			{% endwith %}
		</div>
	{% endif %}
{% endblock %}
