{% extends 'responda_messages/base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
	{% if message.parent_message is not None %}
		<ul class="list-group">
			<a href="/messages/{{ message.parent_message.id }}/" class="list-group-item">
				<p class="list-group-item-heading">
					<span class="text-right" style="float:right;">{{ message.parent_message.pub_date }}</span>
					<b>{{ message.parent_message.author.first_name }} {{ message.parent_message.author.last_name }}</b>
					&sdot; @{{ message.parent_message.author.username }}
				</p>
				<p class="list-group-item-text">{{ message.parent_message.message_text|truncatechars:"100" }}</p>
			</a>
		</ul>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="text-right" style="float:right;">{{ message.pub_date }}</p>
			<b>{{ message.author.first_name }} {{ message.author.last_name }}</b> &sdot; @{{ message.author.username }}
		</div>
		<div class="panel-body">{{ msg_text|safe }}</div>
		{% include 'responda_messages/_large_message_linklist.html' %}
	</div>
	{% if user.is_authenticated %}
		<h2>Uusi vastaus</h2>
		<form action="/messages/{{ message.id }}/reply/" method="POST" class="post-form">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="save btn btn-default">Lähetä!</button>
		</form>
		<script>
		var simplemde = new SimpleMDE({
			element: document.getElementById("id_message_text"),
			forceSync: true,
			spellChecker: false
		});
		</script>
	{% endif %}
{% endblock %}

{% block leftcontent %}
	{% if user.is_authenticated %}
		<div class="panel panel-ablue">
			<div class="panel-heading">
				Uusimmat vastaukset
			</div>
			{% with replies=newest_replies %}
			{% include 'responda_messages/_small_message_linklist.html' %}
			{% endwith %}
		</div>
	{% else %}
		<div class="panel panel-ablue">
			<div class="panel-heading">
				Tervetuloa Respondaan
			</div>
			<div class="panel-body">
				Responda on uusi sosiaalisen median alusta, joka perustuu vuorovaikutukseen ja vastaamiseen.
			</div>
			<ul class="list-group">
				<a href="/login/" class="list-group-item">Kirjaudu sisään</a>
				<a href="/register/" class="list-group-item">Luo tunnus</a>
			</ul>
		</div>
	{% endif %}
{% endblock %}
{% block rightcontent %}
	<div class="panel panel-ablue">
		<div class="panel-heading">
			Vastatuimmat viestit
		</div>
		<ul class="list-group">
			{% with replies=popular_messages %}
			{% include 'responda_messages/_small_message_linklist.html' %}
			{% endwith %}
		</ul>
	</div>
{% endblock %}
